.result_item {
  box-shadow: 0px 6px 12px #333;
  animation: shadow 7s infinite;
  background-color: rgba($color: blue, $alpha: 0.1);
  word-break: break-all;
}

.searchmatch {
  color: white;
  padding: 0 2px;
  text-shadow: 0 0 5px white;
  text-decoration: underline;
  animation: color-change 3s infinite;
  font-weight: bold;
  font-size: large;
}