html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('../public/resources/img/stars.jpg');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  outline: 1px solid white;
  border-radius: 3px;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.searchmatch {
  color: white;
  padding: 0 2px;
  text-shadow: 0 0 5px white;
  text-decoration: underline;
  animation: color-change 3s infinite;
  font-weight: bold;
  font-size: large;
}

@keyframes color-change {
  0% {
    color: white;
    text-shadow: 0 0 5px green;
  }
  50% {
    color: green;
    text-shadow: 0 0 5px blue;
  }
  100% {
    color: white;
    text-shadow: 0 0 5px green;
  }
}
