@keyframes shadow {
  0% {
    box-shadow: 0px 4px 12px #333;
  }
  50% {
    box-shadow: 0px 4px 18px rgb(55, 55, 163);
  }
  100% {
    box-shadow: 0px 4px 12px #333;
  }
}

@keyframes color-change {
  0% {
    color: white;
    text-shadow: 0 0 5px green;
  }
  50% {
    color: green;
    text-shadow: 0 0 5px blue;
  }
  100% {
    color: white;
    text-shadow: 0 0 5px green;
  }
}
